<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IReviewService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://codeflow/Services/ReviewService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IReviewService"
                contract="ReviewService.IReviewService" name="WSHttpBinding_IReviewService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>