<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EntryPoint" value="EventPipe.Server.CodeFlow:EventPipe.Server.CodeFlow.CodeFlowPlugin"/>
    <add key="AuthorWatch" value="jocarrie"/>
    <add key="SecondAuthorWatch" value="rcookdr"/>
    <add key="RefreshInterval" value="10"/>
    <add key="AnnounceInterval" value="30000"/>
  </appSettings>
</configuration>