<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="plugin0" value="EventPipe.Server.SerialPort;EventPipe.Server.SerialPort.SerialPortPlugin"/>
    <add key="plugin1" value="EventPipe.Server.Lync;EventPipe.Server.Lync.LyncPlugin"/>
    <add key="SerialPortName" value="COM3"/>
    <add key="contact0" value="jocarrie"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="plugins;plugins/EventPipe.Server.Lync;plugins/EventPipe.Server.SerialPort"/>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
