<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="plugins" value="EventPipe.Server.SerialPort;EventPipe.Server.Lync;;EventPipe.Server.RssFeed;EventPipe.Server.TfsClient;"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="plugins;plugins/EventPipe.Server.Lync;plugins/EventPipe.Server.SerialPort;plugins/EventPipe.Server.RssFeed;plugins/EventPipe.Server.TfsClient"/>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
