<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EntryPoint" value="EventPipe.Server.TfsClient:EventPipe.Server.TfsClient.TfsClientPlugin"/>
    <add key="ProjectCollectionUrl" value="http://localhost:8080/tfs/DefaultCollection"/>
    <add key="ProjectName" value="DefaultCollection"/>
    <add key="RefreshInterval" value="30"/>
    <add key="NextInterval" value="20000"/>
    <add key="query0" value="DefaultCollection/My Queries/EventPipe/Remaining Bugs"/>
    <add key="query1" value="DefaultCollection/My Queries/EventPipe/Remaining Deliverables"/>
  </appSettings>
</configuration>