<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EntryPoint" value="EventPipe.Server.RssFeed:EventPipe.Server.RssFeed.RssFeedPlugin"/>
    <add key="RefreshInterval" value="30"/>
    <add key="NextInterval" value="20000"/>
    
    <add key="feed0" value="http://www.reddit.com/r/diablo/.rss"/>
    <add key="feed1" value="http://www.reddit.com/r/microsoft/.rss"/>
    <add key="feed1" value="http://www.reddit.com/r/technology/.rss"/>
  </appSettings>
</configuration>